header {
    background: var(--cor1);
    color: white;
    padding: 20px;
}

form, .list-section {
    background: white;
    padding: 20px;
    margin: 20px;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: var(--cor-card);
    padding: 20px;
}

.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}
